{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block main %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <p><strong>If an account matching your email exists, then an email was just sent that contains a link that you can use to reset your password (expiration of the link in {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}).</strong></p>
    <p>If you don't receive an email please check your spam folder or <a href="{{ path('forgot_password_request') }}">try again</a>.</p>
    <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endblock %}
