{% extends 'base.html.twig' %}

{% block customstylesheets %}
<link rel="stylesheet" href="{{asset('build/css/faq.css')}}"/>
{% endblock %}

{% block title %}FAQ{% endblock %}

{% block main %}
<div class="container-fluid">
  <main role="main" class="px-4">
    {%block faqcontent %}{% endblock %}
  </main>
</div>
{% endblock %}

{% block customjavascripts %}
<script src="{{asset('build/js/faq.js')}}" type="text/javascript"></script>
{% endblock %}
