{% extends 'faq/base.html.twig' %}

{% block title %}Question{% endblock %}

{% block faqcontent %}
<div class="row">
  <div class="media-card align-items-center">
    <div class="votes">
      <div class="vote-block d-flex align-items-center justify-content-between" title="Votes">
        <span class="vote-counts up">0</span>
        <span class="vote-icon"><span class="glyphicon glyphicon-thumbs-up"></span></span>
      </div>
      <div class="answer-block d-flex align-items-center justify-content-between" title="Answers">
        <span class="vote-counts down">0</span>
        <span class="vote-icon down"><span class="glyphicon glyphicon-thumbs-down"></span></span>
      </div>
    </div>
    <div class="media-body">
      <h5><a href="#">Question title</a></h5>
      <small class="meta">
        <span class="pr-1">1 hour ago</span>
        <a href="#" class="author">User profile</a>
      </small>
      <div class="tags">
        <a href="#" class="tag-link">FAQ 1</a>
        <a href="#" class="tag-link">FAQ 2</a>
        <a href="#" class="tag-link">FAQ 3</a>
        <a href="#" class="tag-link">FAQ 4</a>
      </div>
      <hr>
      <div class="question-content">
        <div class="question-post-body">
          <p>I'm not able to get the data attribute from a button element.</p>
          <p>How Can I do it ? </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mb-4 mt-2">
  <div class="col-lg-10">
    <h5 class="h3">Answers</h5>
  </div>
  <div class="col-lg-2">
    <a type="button" id="answerButton" class="form-button" data-bs-toggle="modal" data-bs-target="#answerModal"><span class="glyphicon glyphicon-plus"></span></a>
    <div class="modal fade" id="answerModal" tabindex="-1" aria-labelledby="answerButton" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New answer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="answerForm" class="register-form needs-validation" novalidate>
              <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content" rows="4" required></textarea>
                <div id="content_error" class="invalid-feedback">Content error message.</div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" form="answerForm" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="answer-list">
  <div class="row">
    <div class="media-card align-items-center">
      <div class="votes">
        <div class="vote-block d-flex align-items-center justify-content-between" title="Votes">
          <span class="vote-counts up">0</span>
          <span class="vote-icon"><span class="glyphicon glyphicon-thumbs-up"></span></span>
        </div>
        <div class="answer-block d-flex align-items-center justify-content-between" title="Answers">
          <span class="vote-counts down">0</span>
          <span class="vote-icon down"><span class="glyphicon glyphicon-thumbs-down"></span></span>
        </div>
      </div>
      <div class="media-body">
        <h5><a href="#">werner94fribourg</a></h5>
        <small class="meta">
          <span class="pr-1">1 hour ago</span>
        </small>
        <hr>
        <div class="answer-content">
          First answer
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
